GCP_PROJECT_ID=
GCP_REGION=us-central1
GCS_BUCKET_NAME=
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=college_docs
FIREBASE_SERVICE_ACCOUNT_JSON=
VERTEX_AI_LOCATION=us-central1
ALLOWED_DOMAIN=iitgn.ac.in
